.items-container {
    margin: 10px auto;
    display: table;
    width: 100%;
    text-align: center;
}

h3 {
    margin: 20px;
}

.column-rows {
    display: table-row;
}

.column-cell {
    display: table-cell;
    padding: 4px 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.text {
    margin: 20px;
}

.highlight {
    background: #f5f5f5;
}

.sort {
    display: flex;
    margin: 40px 20px 10px 20px;
}

.sort-arrow {
    display: inline-block;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    padding: 0;
    min-width: auto;
}
