<div class="container">
    <div *ngIf="cartProducts.length" class="sort">
        <mat-form-field>
            <mat-label>Order By</mat-label>
            <mat-select [formControl]="sortForm">
                <mat-option
                    *ngFor="let sortName of sortList"
                    [value]="sortName"
                >{{ sortName | titlecase }}</mat-option
                >
            </mat-select>
        </mat-form-field>
        <button
            (click)="sortDirection = !sortDirection"
            *ngIf="sortForm.value"
            class="sort-arrow"
            mat-stroked-button
        >
            <mat-icon *ngIf="sortDirection">arrow_upward</mat-icon>
            <mat-icon *ngIf="!sortDirection">arrow_downward</mat-icon>
        </button>
    </div>
    <div *ngIf="cartProducts.length; else emptyCart" class="items-container">
        <div class="column-rows">
            <h3 *ngFor="let column of displayedColumns" class="column-cell">
                {{ column }}
            </h3>
        </div>
        <app-cart-item
            *ngFor="
                let cartProduct of cartProducts
                    | orderBy: sortForm.value:sortDirection
            "
            [cartProduct]="cartProduct"
            appHighlight
            class="column-rows"
        ></app-cart-item>
        <div class="column-rows">
            <h3>Total: {{ getTotalSum() | currency }}</h3>
        </div>
    </div>
    <ng-template #emptyCart>
        <p class="text">Cart is empty!</p>
    </ng-template>
</div>
