<mat-toolbar>
    <div>Product Form</div>
</mat-toolbar>
<form #form="ngForm" (ngSubmit)="onSave()" id="product-form">
    <div class="form-row">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input
                [(ngModel)]="product.name"
                matInput
                name="name"
                required
                type="text"
            />
            <button
                (click)="product.name = ''"
                *ngIf="product.name"
                aria-label="Clear"
                mat-button
                mat-icon-button
                matSuffix
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input
                [(ngModel)]="product.description"
                matInput
                name="description"
                required
                type="text"
            />
            <button
                (click)="product.description = ''"
                *ngIf="product.description"
                aria-label="Clear"
                mat-button
                mat-icon-button
                matSuffix
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input
                [(ngModel)]="product.price"
                matInput
                min="0"
                name="price"
                required
                type="number"
            />
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select
                [(ngModel)]="product.category"
                [compareWith]="compareCategories"
                name="category"
                required
            >
                <mat-option
                    *ngFor="let category of Category | keyvalue"
                    [value]="category.value"
                >
                    {{ category.value }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field>
            <mat-label>Available Count</mat-label>
            <input
                [(ngModel)]="product.availableCount"
                matInput
                min="0"
                name="availableCount"
                required
                type="number"
            />
        </mat-form-field>
    </div>

    <div class="form-row">
        <button
            [disabled]="form.invalid"
            color="warn"
            form="product-form"
            mat-raised-button
            type="submit"
        >
            Save
        </button>
        <button
            (click)="onGoBack()"
            color="primary"
            mat-raised-button
            type="button"
        >
            Back
        </button>
    </div>
</form>
