.container {
    margin: 20px;
}

.form-group {
    margin: 20px 0;

    &:after {
        display: table;
        content: " ";
        clear: both;
        float: none;
    }

    button {
        margin-right: 20px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.col {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.mat-checkbox {
    padding-right: 15px;
    padding-left: 15px;
}

.has-error {
    .control-label {
        color: #f44336;
    }

    .form-control {
        border-color: #f44336;
    }
}

.help-block {
    color: #f44336;
}
