.container {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    margin: 0 20px;
    width: 100%;
}

.active {
    color: #fff;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
}

h1 {
    display: inline-block;
}

ul {
    display: flex;
}

.select-theme {
    flex: 100%;
    text-align: right;
}
