<div class="column-cell">{{ cartProduct.product.id }}</div>
<div class="column-cell">{{ cartProduct.product.name }}</div>
<div class="column-cell">{{ cartProduct.product.description }}</div>
<div class="column-cell">{{ cartProduct.product.category | uppercase }}</div>
<div class="column-cell">{{ cartProduct.product.price | currency }}</div>
<div class="column-cell">
    <button
        mat-mini-fab
        mat-raised-button
        (click)="onDecreaseQuantity()"
        [disabled]="!cartProduct.count"
    >
        <mat-icon aria-hidden="false" aria-label="Home">remove</mat-icon>
    </button>
    <div class="count">{{ cartProduct.count }}</div>
    <button
        mat-mini-fab
        mat-raised-button
        (click)="onIncreaseQuantity()"
        [disabled]="!cartProduct.product.availableCount"
    >
        <mat-icon aria-hidden="false" aria-label="Home">add</mat-icon>
    </button>
</div>
<div class="column-cell">
    <button
        mat-mini-fab
        color="primary"
        mat-raised-button
        (click)="onRemoveProduct()"
    >
        <mat-icon aria-hidden="false" aria-label="Home">clear</mat-icon>
    </button>
</div>
