<div class="column-cell">{{ order.product.id }}</div>
<div class="column-cell">{{ order.product.name }}</div>
<div class="column-cell">{{ order.product.description }}</div>
<div class="column-cell">{{ order.product.category }}</div>
<div class="column-cell">{{ order.product.price }}</div>
<div class="column-cell">
    <button
        mat-mini-fab
        mat-raised-button
        (click)="onRemoveProduct()"
        [disabled]="!order.count"
    >
        <mat-icon aria-hidden="false" aria-label="Home">remove</mat-icon>
    </button>
    <div class="count">{{ order.count }}</div>
    <button
        mat-mini-fab
        mat-raised-button
        (click)="onAddProduct()"
        [disabled]="!order.product.availableCount"
    >
        <mat-icon aria-hidden="false" aria-label="Home">add</mat-icon>
    </button>
</div>
<div class="column-cell">
    <button
        mat-mini-fab
        color="primary"
        mat-raised-button
        (click)="onClearProduct()"
    >
        <mat-icon aria-hidden="false" aria-label="Home">clear</mat-icon>
    </button>
</div>
