<mat-card class="order">
    <mat-card-header>
        <mat-card-title>{{ order.id }}</mat-card-title>
        <mat-card-subtitle>Total: {{ order.total | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>User: {{ order.firstName }} {{ order.lastName }}</div>
        <div>Email: {{ order.email }}</div>
        <div>Phones:
            <span *ngFor="let el of order.phones; let last = last">
                {{ el.phone }}{{!last ? ' | ' : ''}}
            </span>
        </div>
        <div>Delivery: {{ order.pickup ? 'pickup' : order.address }}</div>
    </mat-card-content>
</mat-card>
