<mat-toolbar>
    <mat-toolbar-row>
        <mat-icon>build</mat-icon>
        <h3 class="title">Admin</h3>
        <nav>
            <ul class="nav nav-tabs">
                <li>
                    <a
                        [routerLinkActiveOptions]="{ exact: true }"
                        mat-button
                        routerLink="./"
                        routerLinkActive="active"
                    >Dashboard</a
                    >
                </li>
                <li>
                    <a
                        mat-button
                        routerLink="./products"
                        routerLinkActive="active"
                    >Manage Products</a
                    >
                </li>
                <li>
                    <a
                        mat-button
                        routerLink="./orders"
                        routerLinkActive="active"
                    >Manage Orders</a
                    >
                </li>
            </ul>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
