<mat-card class="product">
    <mat-card-header>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>Price: {{ product.price }}</div>
        <div>{{ product.description }}</div>
    </mat-card-content>
    <mat-card-actions>
        <button
            (click)="onBuyProduct()"
            [disabled]="!product.isAvailable()"
            color="primary"
            mat-raised-button
        >
            Buy
        </button>
        <span class="count" [ngClass]="{ last: product.availableCount === 1 }"
            >{{ product.availableCount }} left</span
        >
    </mat-card-actions>
</mat-card>
