<mat-card class="product">
    <mat-card-title>
        <a (click)="onGoToProduct()" color="primary" mat-button class="go-to-link">
            {{ product.name }}
        </a>
    </mat-card-title>
    <mat-card-content>
        <div>Category: {{ product.category }}</div>
        <div>Price: {{ product.price | currency }}</div>
        <div>{{ product.description }}</div>
        <div>Available Count: {{ product.availableCount }}</div>
    </mat-card-content>

    <mat-card-actions *ngIf="editable; else buyBlock">
        <button (click)="onEditProduct()" color="primary" mat-raised-button class="edit-button">
            Edit
        </button>
        <button (click)="onDeleteProduct()" color="accent" mat-raised-button class="delete-button">
            Delete
        </button>
    </mat-card-actions>

    <ng-template #buyBlock>
        <mat-card-actions>
            <button
                (click)="onBuyProduct()"
                [disabled]="product.availableCount === 0"
                color="primary"
                mat-raised-button
                class="buy-button"
            >
                Buy
            </button>
            <span
                [ngClass]="{
                    last: product.availableCount === 1,
                    'not-available': !product.availableCount
                }"
                class="count"
            >{{ product.availableCount }} left</span
            >
        </mat-card-actions>
    </ng-template>
</mat-card>
